body {
  width: 100vw;
  height: 100vh;
  background-image: url("home1.jpg"); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
  background-attachment: fixed;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    background-color: #f8f9fa;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   
    width: 400px;
}
#discription {
    width: 300px;
    height: 100px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#deleteBook{
    display: none;
}
#updateBook{
    display: none;
}
#normalBook{
    display: none;
}
#updatenrm{
    display: none;
}